/****** Object:  Table [COW].[Biometrics]    Script Date: 9/22/2020 4:15:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE SCHEMA [COW]
GO
CREATE TABLE [COW].[Biometrics](
	[Order] [float] NULL,
	[Pen] [float] NULL,
	[Animal] [float] NULL,
	[Gender] [nvarchar](255) NULL,
	[BirthDate] [datetime] NULL,
	[Age_days] [float] NULL,
	[Date] [datetime] NULL,
	[WitherHeight] [float] NULL,
	[HipHeight] [float] NULL,
	[WidthHeight] [float] NULL,
	[GirthCirc] [float] NULL,
	[BCS] [float] NULL,
	[BW] [float] NULL
) ON [PRIMARY]
GO
INSERT [COW].[Biometrics] ([Order], [Pen], [Animal], [Gender], [BirthDate], [Age_days], [Date], [WitherHeight], [HipHeight], [WidthHeight], [GirthCirc], [BCS], [BW]) VALUES (1, 1, 9110, N'Female', CAST(N'2019-02-18T00:00:00.000' AS DateTime), 0, CAST(N'2019-02-18T00:00:00.000' AS DateTime), 68.6, 75.9, 23, 69, 2.25, 35)
INSERT [COW].[Biometrics] ([Order], [Pen], [Animal], [Gender], [BirthDate], [Age_days], [Date], [WitherHeight], [HipHeight], [WidthHeight], [GirthCirc], [BCS], [BW]) VALUES (1, 1, 9110, N'Female', CAST(N'2019-02-18T00:00:00.000' AS DateTime), 7, CAST(N'2019-02-25T00:00:00.000' AS DateTime), 73.4, 77, 28, 79, 2.25, 40)
INSERT [COW].[Biometrics] ([Order], [Pen], [Animal], [Gender], [BirthDate], [Age_days], [Date], [WitherHeight], [HipHeight], [WidthHeight], [GirthCirc], [BCS], [BW]) VALUES (2, 2, 9111, N'Female', CAST(N'2019-02-20T00:00:00.000' AS DateTime), 0, CAST(N'2019-02-20T00:00:00.000' AS DateTime), 78.4, 83, 23, 80, 2.25, 41)
GO


select count(*) from cow.biometrics
select top 10 * from COW.Biometrics